* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: linen;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1.2em;
    background-color: linen;  
}

.title a{
    text-wrap: nowrap;
    margin-left: 10vw;
    text-decoration: none;
    color: black;
}

.nav ul {
    text-wrap: nowrap;
    margin-right: 10vw;
    padding-inline-start: 0;
}

.nav li {
    display: inline;
    position: relative;
}

.nav a {
    color: black;
    text-decoration: none;
    letter-spacing: 0.12em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav a:hover:after {
    width: 100%; 
    left: 0; 
}

.page-body {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%
}

.home {
    display: flex;
}

.profile-pic {
    height: 318px;
    width: 200px;
}

